<template lang="pug">
  .wrapper-city-weather
    label.title {{ title }}:
      span {{ city }}
    .hourly-weather(
      v-for="climate in climates")
      label.time {{ climate.dt_txt | time }}
      .wrappper-weather
        .actual-weather
          label {{ climate.main.temp | kelvinToCentigrade }}&#x2103;
        .weather-info
          label Temp. máxima:
            span {{ climate.main.temp_max | kelvinToCentigrade }}&#x2103;
          label Temp. mínima:
            span {{ climate.main.temp_min | kelvinToCentigrade }}&#x2103;
          label Humedad:
            span {{ climate.main.humidity }}%
      hr

</template>

<script>
export default {
  name: 'CityWeather',

  props: {
    title: {
      type: String,
      required: true,
    },
    city: {
      type: String,
      required: true,
    },
    climates: {
      type: Array,
      required: true,
    },
  },

  filters: {
    kelvinToCentigrade(value) {
      const kelvin = 273.15;
      return parseFloat(value - kelvin, 10).toFixed();
    },

    time(value) {
      let date = new Date(value);
      date = date.toString();
      return date.split(' ').slice(0, 5).join(' ');
    },
  },

};
</script>

<style lang="sass">
.wrapper-city-weather
  background: white
  border: 1px solid #e6e6e6
  border-radius: 5px
  width: 500px
  max-width: 95%
  padding: 20px
  margin-top: 20px
  box-sizing: border-box
  display: grid
  grid-gap: 15px
  margin-bottom: 40px

label
  color: #878787
.title
  font-weight: bold
  color: #08081b
.title > span
  font-weight: normal
  margin-left: 5px

.actual-weather
  font-size: 2.5rem
  justify-self: center
  align-self: center
.actual-weather > label
  color: #08081b

.wrappper-weather
  display: grid
  grid-template-columns: 6fr 6fr
  grid-gap: 15px
.weather-info
  display: grid
  grid-gap: 5px
.weather-info > label
  color: #878787
.weather-info > label > span
  font-weight: normal
  margin-left: 5px
hr
  border-top: 1px solid #c6c6c6
  margin: 20px auto
@media screen and ( max-width: 1025px )
  .wrapper-city-weather
    margin: 20px auto
</style>
