<template lang="pug">
  form#wrapper-select-cities(
    @submit="getWheather")
    .wrapper-select-city
      label Ciudad de origen
      select(
        v-model="originCity")
        option(
          value="") -- Selecciona una ciudad
        option(
          v-for="(city, idx) in cities"
          :key="idx"
          :value="city") {{ city }}
    .wrapper-select-city
      label Ciudad de destino
      select(
        v-model="destinationCity")
        option(
          value="") -- Selecciona una ciudad
        option(
          v-for="(city, idx) in cities"
          :key="idx"
          :value="city") {{ city }}
    button(
      type=submit) Buscar Clima
    label.error(
      v-if="error") {{ errorMessage }}
</template>

<script>
export default {
  name: 'SelectCities',

  data() {
    return {
      destinationCity: '',
      originCity: '',
      errorMessage: '',
      error: false,
      cities: [
        'Ciudad de México',
        'Monterrey',
        'Guadalajara',
        'Buenos Aires',
        'Bogotá',
        'Santiago de Chile',
        'Lima',
        'Sao Paulo',
        'Montevideo',
        'Panamá',
        'Medellin',
        'Caracas',
      ],
    };
  },

  methods: {
    getWheather(e) {
      e.preventDefault();
      const citiesAreEquals = this.originCity === this.destinationCity;
      const originCityIsNotSelected = this.originCity === '';
      const originDestinationIsNotSelected = this.destinationCity === '';
      if (originCityIsNotSelected) {
        this.errorMessage = 'Debes de seleccionar una ciudad de origen';
        this.error = true;
        this.$emit('setWeatherOptions');
        return;
      }
      if (originDestinationIsNotSelected) {
        this.errorMessage = 'Debes de seleccionar una ciudad de destino';
        this.error = true;
        this.$emit('setWeatherOptions');
        return;
      }
      if (citiesAreEquals) {
        this.errorMessage = 'La ciudad de origen no puede ser igual a la ciudad de destino';
        this.error = true;
        this.$emit('setWeatherOptions');
        return;
      }
      this.error = false;

      this.$emit('getOriginCityWeather', this.originCity);
      this.$emit('getDestinationCityWeather', this.destinationCity);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
#wrapper-select-cities
  background: white
  border: 1px solid #e6e6e6
  border-radius: 5px
  width: 500px
  max-width: 95%
  padding: 20px
  margin: 0 auto
  margin-top: 20px
  box-sizing: border-box
  display: grid
  grid-gap: 15px

.wrapper-select-city
  display: grid
  grid-gap: 5px

label
  color: #08081b
  font-weight: bold
.error
  color: #ef233c

select
  padding: 5px
  border: 2px solid #08081b
  border-radius: 5px
option
  background: white

button
  padding: 15px
  cursor: pointer
  background: #08081b
  color: white
  border: 2px solid #08081b
  font-size: 1.1rem
  border-radius: 5px
  transition: all .3s ease
  &:hover
    color: #08081b
    background: transparentize(#08081b, .7)
</style>
