<template lang="pug">
  div( id="app")
    SelectCities(
      @getOriginCityWeather="getOriginCityWeather($event)"
      @getDestinationCityWeather="getDestinationCityWeather($event)"
      @setWeatherOptions="setWeatherOptions" )
    #wrapper-cities-weather
      Cityweather.origin-weather(
        v-if="originCityWeather.length > 0"
        :city="originCity"
        title="Ciudad de origen"
        :climates="originCityWeather")
      Cityweather(
        v-if="destinationCityWeather.length > 0"
        :city="destinationCity"
        title="Ciudad de destino"
        :climates="originCityWeather")
</template>

<script>
import WeatherForecastService from '@/services/WeatherForecastService';

export default {
  name: 'App',

  components: {
    SelectCities: () => import(/* webpackChunkName: "select-cities" */ './components/SelectCities'),
    Cityweather: () => import(/* webpackChunkName: "city-weather" */ './components/CityWeather'),
  },

  data() {
    return {
      originCityWeather: [],
      originCity: '',
      destinationCityWeather: [],
      destinationCity: '',
    };
  },

  methods: {

    setWeatherOptions() {
      this.originCityWeather = [];
      this.destinationCityWeather = [];
    },

    getOriginCityWeather(city) {
      WeatherForecastService.getWeatherByCity(city)
        .then((response) => {
          this.originCityWeather = response.data.list;
          this.originCity = city;
        })
        .catch((err) => {
          console.error(err);
        });
    },

    getDestinationCityWeather(city) {
      WeatherForecastService.getWeatherByCity(city)
        .then((response) => {
          this.destinationCityWeather = response.data.list;
          this.destinationCity = city;
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
};
</script>

<style lang="sass">
body
  font-family: Avenir, Helvetica, Arial, sans-serif
  background: #f8f8f8
  margin: 0
#wrapper-cities-weather
  display: flex
  justify-content: center
.origin-weather
  margin-right: 20px

@media screen and ( max-width: 1025px )
  #wrapper-cities-weather
    flex-direction: column
  .origin-weather
    justify-self: flex-start
</style>
